.footerstyle{
    position:fixed;
    bottom:0;
    width:100%;
    font-size:1.5em;
    text-align:center;
    font-weight:bold;
    padding:10px;
    background-color:#f7ca18;

}
.item{
    margin:50px;
}